/* 
    General Styles
*/
/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body {
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/fotos-premium/cielo-azul-oscuro-estrellado_118086-2433.jpg');
    background-size: cover;
    background-position: center;
  }